In [6]:
df <- read.csv("/Users/leijunjie/JUNJIE/lyrics_novelty_dataViz/cities_with_msaCode.csv")

In [2]:
source("/Users/leijunjie/Desktop/preload_libs/preload_packages_file.R")

Please cite as:


 Hlavac, Marek (2018). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.2. https://CRAN.R-project.org/package=stargazer


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ tibble  2.1.3     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0
✔ purrr   0.3.3

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ readr::col_factor() masks scales::col_factor()
✖ purrr::discard()    masks scales::discard()
✖ dplyr::filter()     masks stats::filter()
✖ dplyr::lag()        masks stats::lag()


Attaching package: ‘reshape2’


The following object is masked from ‘package:tidyr’:

    smiths


here() starts at /Users/leijunjie/JUNJIE/lyrics_novelty_dataViz

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2


Attaching package: ‘GGally’


The following object is masked from ‘package:dplyr’:

    nasa

[1] Your Current Directory is ----> /Users/leijunjie/JUNJIE/lyrics_novelty_dataViz

In [2]:
df <- read.csv("./cities_with_msaCode.csv")

In [3]:
head(df)

  X Artist_Name Year Freq lon        lat      MSA_Code optional
1 1             1994 0     -87.62980 41.87811 16980    TRUE
2 2 .           1994 0     -96.79699 32.77666 19100    TRUE
3 3 2007        1994 0    -118.19374 33.77005 31080    TRUE
4 4 Akron       1994 0    -122.33207 47.60621 42660    TRUE
5 5 Albany      1994 0    -118.22007 33.89585 31080    TRUE
6 6 Alexandria  1994 0    -118.24368 34.05223 31080    TRUE