In [16]:
import sys
import os
path = os.getcwd()
path
# os.chdir('../')
%matplotlib inline

In [24]:
path

'/Users/leijunjie/JUNJIE/lyrics_novelty_dataViz'

In [26]:
## !/usr/bin/python3
os.chdir("/Users/leijunjie/Desktop/preload_libs/")

In [27]:
from preload_py_libs import *

===========================
----- Packages Loaded ----

In [30]:
df = pd.read_csv("../data/AnalysisDataset.csv")

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29966 entries, 0 to 29965
Data columns (total 16 columns):
Unnamed: 0      29962 non-null float64
index           29964 non-null float64
Artist_name     29964 non-null object
Album_name      25519 non-null object
Album_date      29964 non-null object
Song_name       29964 non-null object
Song_lyrics     29964 non-null object
isEnglish       29962 non-null float64
origin_city     29962 non-null object
origin_state    29962 non-null object
Cleaned         29960 non-null object
Novelty         29960 non-null float64
Transience      29960 non-null float64
Resonance       29960 non-null float64
Year            29960 non-null float64
Origin          29960 non-null object
dtypes: float64(7), object(9)
memory usage: 3.7+ MB

In [32]:
df.describe().reset_index().T

,0,1,2,3,4,5,6,7
level_0,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,29962,14980.5,8649.43,0,7490.25,14980.5,22470.8,29961
index,29964,48264.1,26303.5,0.829573,25541.8,48971,71361.2,91543
isEnglish,29962,0.795179,0.0544692,-0.0655,0.76405,0.798601,0.830918,0.994845
Novelty,29960,4.80197,0.53792,3.64,4.44,4.68,5.02,9.22
Transience,29960,4.80321,0.533759,3.73,4.44,4.69,5.02,9.19
Resonance,29960,-0.0012795,0.0732864,-1.42,-0.0374,-0.0009665,0.035925,0.821
Year,29960,2011.81,6.32485,1994,2008,2014,2017,2019

In [33]:
# summary statistics of the character columns
# >>> need to be filter out >>> data filtering
df.describe(include=['object']).reset_index().T

,0,1,2,3
index,count,unique,top,freq
Artist_name,29964,1141,Gucci Mane,450
Album_name,25519,6009,Yung Bans,46
Album_date,29964,4484,1/1/13,107
Song_name,29964,26011,Intro,56
Song_lyrics,29964,29918,[Intro]\nHow we get down\nHow we get down\nHow...,4
origin_city,29962,246,Atlanta,2547
origin_state,29962,43,NY,7012
Cleaned,29960,29888,girl girl girl girl Unique Reppin town gi...,4
Origin,29960,253,"Atlanta, GA",2547

In [34]:
df_filter_col = df[
    [
        'index',
        'Artist_name', 
        'Album_name', 
        'Album_date', 
        'Song_name', 
        'isEnglish', 
        'origin_city',
        'origin_state', 
        'Novelty',
        'Transience',
        'Resonance',
        'Year'
    ]
]

In [35]:
df_filter_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29966 entries, 0 to 29965
Data columns (total 12 columns):
index           29964 non-null float64
Artist_name     29964 non-null object
Album_name      25519 non-null object
Album_date      29964 non-null object
Song_name       29964 non-null object
isEnglish       29962 non-null float64
origin_city     29962 non-null object
origin_state    29962 non-null object
Novelty         29960 non-null float64
Transience      29960 non-null float64
Resonance       29960 non-null float64
Year            29960 non-null float64
dtypes: float64(6), object(6)
memory usage: 2.7+ MB

In [ ]:
df.to_csv()



```
<<< df_filter_col constructed;
```

removed 
- Song_lyrics --> not my concern
- Cleaned --> not my concern
- Origin --> duplicated

--- 


```
>>> initial data viz
```

```
>>> Generate Dataframe profile report

```


---
>> output: `report.html`

In [36]:
# pfr = pandas_profiling.ProfileReport(df_filter_col)
# pfr.to_file('report.html')

```
GeoCode
```

In [41]:
pip install addfips

Collecting addfips
  Downloading https://files.pythonhosted.org/packages/45/72/4f76cc094b3c8c302d5eddc6d961f29ca610a07ba321e919badb293422f6/addfips-0.2.2-py2.py3-none-any.whl (78kB)
     |████████████████████████████████| 81kB 2.3MB/s eta 0:00:01
Installing collected packages: addfips
Successfully installed addfips-0.2.2
Note: you may need to restart the kernel to use updated packages.